.mainblock {
    flex: 1 1 auto;
    position: relative;
    height: 100%;
    @include flexbox();
    justify-content: center;
    align-items: center;
    text-align: center;

    &__content {
        position: relative;
        z-index: 1;
    }

    &__logo {
    }

    &__text {
        color: #fff;
        position: relative;
        padding: 0 0 45px 0;
        &:after {
            content: '';
            width: 105px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            left: 50%;
            margin: 0 0 0 -52.5px;
            bottom: 0;
        }
    }

    &__title {
        font-size: 34px;
        line-height: 40px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 5.43px;
        font-family: 'Lato', sans-serif;
    }

    &__subtitle {
        font-size: 26px;
        font-weight: 400;
        letter-spacing: 4.15px;
    }

    &__footer {
    }

    &__btn {
    }

    &__arrow {
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.btn {

    &_w {
    }
}

