html {
    scroll-behavior: smooth;
}

.wrapper{
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    @include flexbox();
    flex-direction: column;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 70;
}